<div id="<%= dom_id client %>">
  <p>
    <strong>Teléfono:</strong>
    <%= client.phone %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>E-Mail:</strong>
    <%= client.email %>
  </p>

</div>
